* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: lato;
  color: #555;
}

.mobile-nav {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.burger-container {
  padding: 30px;
}

.burger-item {
  height: 5px;
  width: 25px;
  background-color: white;
  margin: 5px 0;
}

.hero-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.hero-background {
  height: 100%;
  width: 100%;
}

.hero-background-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.hero-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 75px;
  width: 75px;
}

.hero-logo-img {
  height: 100%;
  width: 100%;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 5%;
}

.hero-text-area h4 {
  color: white;
}

.hero-button-area {
  display: flex;
}

.hero-button {
  height: 30px;
  width: 100px;
  margin: 10px 0px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-hero-button {
  background-color: #e67e22;
  color: white;
}

.first-hero-button:hover {
  filter: brightness(0.8);
}

.second-hero-button {
  width: 130px;
  margin-left: 10px;
  background-color: transparent;
  color: #cf6d17;
  border: 1px solid #cf6d17;
}

.second-hero-button:hover {
  background-color: #cf6d17;
  color: white;
}

.second-hero-container {
  width: 100%;
  padding: 20px;
}

.title-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 125%;
  text-align: center;
  padding: 20px 0;
}

.title-area .line-breaker {
  height: 2px;
  width: 100px;
  margin-bottom: 20px;
  background-color: #e67e22;
}

.details-area {
  display: flex;
  flex-direction: column;
}

.details-block {
  padding: 40px;
}

.details-icon .ion-ios-infinite-outline,
.ion-ios-stopwatch-outline,
.ion-ios-nutrition-outline,
.ion-ios-cart-outline {
  color: #e67e22;
  font-size: 300%;
}

.details-description {
  padding: 8px 0;
}

.food-grid-area {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.food-grid-area .grid-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.food-grid-area .grid-block .grid-img {
  height: 120%;
  width: 120%;
  filter: brightness(0.8);
  object-fit: cover;
}

.food-grid-area .grid-block .grid-img:hover {
  filter: brightness(1);
  height: 100%;
  width: 100%;
  transition: all 0.2s;
}

.mobile-introduction-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-img-block {
  height: 520px;
  width: 250px;
}

.mobile-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description {
  width: 100%;
  padding: 20px;
}

.description-item {
  display: flex;
  padding: 5px;
}

.description-item-icon {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: transparent;
  border: 2px solid #e67e22;
  border-radius: 50%;
  padding: 20px;
}

.description-item-icon p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e67e22;
}

.description-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.market {
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;
}

.market-item {
  width: 180px;
  height: 50px;
}

.market-item-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.location-area {
  padding: 20px;
}

.location-content {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.location-item {
  display: flex;
  flex-direction: column;
}

.location-img-block {
  height: 100%;
  width: 100%;
}

.location-img {
  height: 100%;
  width: 100%;
}

.location-icon {
  position: relative;
}

.location-icon .ion-ios-person,
.ion-ios-star,
.ion-social-twitter {
  color: #e67e22;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.location-icon .ion-ios-person:hover,
.ion-ios-star:hover,
.ion-social-twitter:hover {
  color: aqua;
  transition: all 0.5s;
}

.location-content .twitter-link {
  color: #e67e22;
}

.location-content .twitter-link:hover {
  color: #555;
  transition: all 0.5s;
}

.location-details {
  margin-left: 5px;
  display: flex;
}

.location-details p {
  margin-left: 10px;
}

.review-area {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.review-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}

.review-background-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.4);
}

.review-content-area {
  color: white;
  padding: 20px;
}

.review-content {
  display: flex;
  flex-direction: column;
}

.review-content-item {
  margin: 10px 0;
}

.review-quote {
  padding: 10px;
}

.review-customer {
  display: flex;
  align-items: center;
}

.review-customer-img-block {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
}

.review-customer-img {
  height: 100%;
  width: 100%;
}

.pricing-area {
  background-color: whitesmoke;
  padding: 20px 0px;
}

.pricing-content-area {
  margin: 20px 10px;
}

.pricing-content-block {
  margin: 20px 0;
  border-radius: 15px;
  overflow: hidden;
}

.pricing-content-tag-block {
  background-color: white;
  padding: 5px;
  margin: 2px;
}

.pricing-content-tag-price {
  color: #e67e22;
  font-size: 200%;
}

.pricing-content-details-block {
  background-color: white;
  padding: 5px;
  margin: 2px;
}

.pricing-content-details-block p .ion-checkmark,
.ion-close {
  color: #e67e22;
}

.pricing-content-button-block {
  background-color: white;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-content-button-premium {
  height: 40px;
  width: 200px;
  background-color: #e67e22;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
}

.pricing-content-button-premium:hover {
  background-color: #cf6d17;
  transition: all 0.5s;
}

.pricing-content-button-normal {
  height: 40px;
  width: 200px;
  background-color: transparent;
  color: #e67e22;
  border: 2px solid #e67e22;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
}

.pricing-content-button-normal:hover {
  background-color: #e67e22;
  color: white;
  transition: all 0.5s;
}

.contact-area {
  margin: 20px 0;
}
.contact-content-area {
  margin: 0 50px;
}

.contact-content-area .input-box input {
  height: 30px;
  width: 100%;
  margin: 20px 0;
  padding: 5px;
}

.contact-content-area .select-box select {
  height: 30px;
  width: 100%;
  margin: 20px 0;
  padding: 5px;
}

.check-box {
  height: 30px;
  width: 100%;
  margin: 20px 0;
}

.message-box {
  width: 100%;
  margin: 20px 0;
}

.send-button {
  height: 40px;
  width: 150px;
  background-color: #e67e22;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
}
